:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}
header {
  display: flex;
  justify-content: center;
}
section {
  display: flex;
  justify-content: center;
  border: double;
  // padding: 0;
  // margin: 0;
  background-color: rgb(248, 94, 94);
  align-items: center;
}
section ul {
  display: grid;
  // justify-content: center;
  // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  // grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  // flex-wrap: wrap;
  // align-items: center;
}
section li {
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

ul li {
  // display: flex;
  height: 24px;
  width: 24px;
  border: 1px solid;
  list-style: none;
  // justify-content: center;
  text-align: center;
}

ul,
u li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
footer {
  display: flex;
  justify-content: center;
}
