@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg,
    rgb(211, 112, 46) 50%,
    rgb(139, 35, 3) 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}
.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}
.bg3 {
  animation-duration: 5s;
}
@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
.content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

header {
  font-family: 'Press Start 2P', cursive;
  display: flex;
  justify-content: center;
}
section {
  display: flex;
  justify-content: center;
  // padding: 0;
  // margin: 0;
  // background-color: rgb(2, 167, 243);
  align-items: center;
}
section ul {
  display: grid;
  border: double rgb(148, 37, 3);
  // justify-content: center;
  // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  // grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  // flex-wrap: wrap;
  // align-items: center;
}
section li {
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

ul li {
  // display: flex;
  height: 32px;
  width: 32px;
  border: 1px solid;
  list-style: none;
  // justify-content: center;
  text-align: center;
}

ul,
u li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
footer {
  display: flex;
  justify-content: center;
}
button {
  font-family: 'Press Start 2P', cursive;
  background-color: rgb(238, 234, 234);
}
select {
  font-family: 'Press Start 2P', cursive;
  background-color: rgb(238, 234, 234);
}
